#movies img {
    width: 100%;
  }
  @media (min-width: 960px) {
    #movies .col-md-3 .well {
      height: 390px;
    }
    #movies .col-md-3 img {
      height: 360px;
    }
  }
  body{font-family: 'Gotu', sans-serif; }